.game-container {
  position: absolute;
  top: 60px;
  width: 100%;
}

#map {
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100vh - 60px);
}

.no-pointer-events {
  pointer-events: none;
}

.mapboxgl-ctrl {
  display: none;
}

#trivia {
  position: absolute;
  z-index: 10;
}

.game-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 10;
}

.game-info-container .sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  height: auto;
  bottom: 0;
  gap: 20px;
}

.game-info-container .game-info {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: auto;
  background-color: #fcf6e7;
  border: 4px solid #538786;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  z-index: 10;
}

.game-info-container .game-info .text {
  font-size: 20px;
  font-weight: 600;
}

.locate-image {
  height: 80px;
  width: 60px;
  background-color: #fcf6e7;
  border: 4px solid #538786;
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.locate-image img {
  height: 60px;
  width: 60px;
}

.locate-image p {
  text-align: center;
  margin: -5px;
  font-size: 18px;
  font-weight: 600;
}


