body {
  background-color: #24282a;
  position: relative;
  width: 100%;
  height: 100vh; /* Full height */
  /* background-image: url("../../../dist/full_globe.jpeg"); */ /* Path to your background image */
  /*background-size: cover;
  background-position: center; */
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  position: absolute;
  top: 20vh;
  gap: 50px;
  cursor: default;
}

.animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  justify-content: space-between;
}

.tab {
  background-color: white;
  color: #24282a;
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 20px;
}

.animation {
  height: 400px;
  width: 400px;
  background-color: #bbc8ba;
  border-radius: 0px 10px 10px 10px;
  border: 4px solid white;
  margin-bottom: 20px;
}

.animation img {
  height: 400px;
  width: 400px;
}

.text-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.title {
  color: white;
  font-size: 85px;
  font-weight: 800;
  line-height: 90%;
  margin-bottom: 20px;
}

.subtitle {
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 90%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: start;
  gap: 50px;
  margin-top: 20px;
}

.button {
  width: 135px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid #538786;
  background-color: #bbc8ba;
  font-size: 20px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #538786;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  cursor: pointer;
  align-items: center;
}

.button:hover {
  transform: scale(1.1);
  background-color: #538786;
  color: white;
}

.block-button {
  width: auto;
  height: 116px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: 0px;
  background-color: #fcf6e7;
  color: #24282a;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.block-button:hover {
  background-color: #f1e7d6;
}

#play-online-button {
  position: absolute;
  top: 58px; /* Position below the image */
  left: 0%;
  background-color: None;
  width: 70px; /* Set a width for your dropdown */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  font-weight: 500;
  z-index: 1;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: currentColor;
  animation: blink 1s step-start infinite;
}
