/* Navigation.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #538786;
  color: white;
  padding: 10px 0;
}

.navbar .Home {
  padding: 0 20px;
  align-items: center;
}

#title {
  font-size: 36px;
  font-weight: 700;
}

.navbar .right-container {
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.navbar .right-container .item {
  margin: 0px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.icon {
  width: 42px;
  height: 42px;
  align-items: center;
  display: flex;
}

.User {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 58px; /* Position below the image */
  left: 0%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 70px; /* Set a width for your dropdown */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  font-weight: 500;
  z-index: 20;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

#logout {
  color: black;
  padding: 12px 16px;
}

#logout:hover {
  background-color: #f1f1f1;
}
